.org-id-locations
.tmp
auto-save-list
backups
bookmarks
bookmarks
custom.el
eln-cache
elpa
games
games
ido.last
irony
org-latex-preview
org-roam.db
projectile-bookmarks.eld
projects
racket-mode
smex-items
straight
transient
